@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap');

body {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Comfortaa', sans-serif;
}

h1 {
  font-weight: bold;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}